/**
*
* {{properCase name}} Component
*
*/
import React from "react";
import styles from "./styles";
import withIntl from "../../utils/withIntl";
import messages from "./messages";
import { withStyles } from "@material-ui/core/styles";


type Props = {
/** internal */
classes: any;

/** internal */
formatMessage: Function;

/** class applied to top level container */
className?: any;

/** style applied to top level container */
style?: Object;
};

function {{properCase name}}(props: Props) {
const {
classes,
style,
className,
formatMessage,
} = props;
return (
<div className={className} style={style}>
    {formatMessage(messages.header)}
</div>
);

}

export default withStyles(styles)(withIntl({{properCase name}}));