import produce from "immer";
import * as ACTION_TYPES from "./constants";

export type {{camelCase name}} = {
};

export const initialState: {{camelCase name}} = {
};

const {{camelCase name}}Reducer = (state = initialState, action) =>
produce(state, (/* draft */) => {
switch (action.type) {
case ACTION_TYPES.DEFAULT_ACTION:
break;
}
});

export default {{camelCase name}}Reducer;