// import { put, call, takeEvery, takeLatest,select } from "redux-saga/effects";
import * as ACTION_TYPES from "./constants";
import axios from "../../shared/axios-details";

function * onLoad(){

}

export function* {{camelCase name}}Saga() {
// yield takeLatest(ACTION_TYPES.LOAD, onLoad);
}