import { createSelector } from "reselect";
import { initialState } from "./reducer";

/**
* Direct selector to the {{camelCase name}} state domain
*/
const select{{properCase name}}Domain = (state: State) =>
state.{{properCase name}} || initialState;

/**
* Custom selectors to the {{camelCase name}} state
*/
export const select{{properCase name}} = createSelector(
select{{properCase name}}Domain,
(substate) => substate
);