/* @font-face {
    font-family: 'VerveineW06';
    src: local(VerveineW06-Regular),
      url(./fonts/VerveineW06-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
} */
