/**
* {{ properCase name }} Messages
*
* This contains all the text for the {{ properCase name }} Component
*
*/

import {defineMessages} from 'react-intl';

export const scope = 'app.component.{{ properCase name}}';

export default defineMessages({
header:{
id:`${scope}.header`,
defaultMessage:"Test",
}
})