/**
*
* {{ properCase name}} Component
*
*/

import React from 'react';
import { storiesOf } from '@storybook/react';
import { action } from "@storybook/addon-actions";


import {{properCase name}} from '.';

const stories = storiesOf('{{properCase name}}',module);

stories.add('default',() => <div>Ello mate</div>);