@import "../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../../../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine((
    // use theme parameters where possible
    alpine-active-color:#e90041,
    row-hover-color:#e90041,
    border-color:rgba(0,0,0,0.7),
    selected-row-background-color:#e90041,
  ));
  .ag-root {
    font-family: "Poppins";
    
  }
  .ag-root-wrapper{
    border:none;
  }
  .ag-header {
      // or write CSS selectors to make customisations beyond what the parameters support
      background-color: transparent;
      font-size: 16px;
  }
  .ag-header-row{
    color:rgba(0,0,0,0.6);
    font-weight: 500;
  }
  // .ag-header-cell-label {
  //   // color:rgba(0,0,0,0.6);
  // }
  .ag-row{
    font-family: "Poppins";
    font-size: 18;
    font-weight: 700;
    background-color: rgba(243,246,253,0.77);
    border-top:10px solid white;
    border-bottom:10px solid white;
    margin-top:10px;
  }
  .ag-row-hover{
    background-color: rgba(233, 0, 65, 0.1);
  }
}